[submodule "bash-tools"]
	path = bash-tools
	url = https://github.com/el-gug/z-bash-tools.git
[submodule "synth-shell/synth-shell-greeter"]
	path = synth-shell/synth-shell-greeter
	url = https://github.com/el-gug/z-synth-shell-greeter.git
	branch = main
[submodule "synth-shell/synth-shell-z-dev"]
	path = synth-shell/synth-shell-z-dev
	url = https://github.com/el-gug/z-synth-shell-z-dev.git
	branch = main
